.app-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: rgb(90, 146, 224);
    padding-left: 5%;
    padding-right: 5%;
}

.section-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10%;
    width: 100%;
}

.input-text {
    width: 100%;
    height: 15rem;  
    padding: 1rem;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #d0d7dc;
    resize: none;
    outline: none;
}

button {
    margin-top: 1.25rem;  
    padding: 0.625rem 1.25rem;  
    background-color: #171d3cff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005fa3;
}

.output-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.loading-bar {
    font-size: 1.2em;
    color: #000000;
}

.ontology-box {
    background-color: #ffffff;
    width: 100%;
    padding: 1rem;  
    border: 1px solid #d0d7dc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.625rem;  
}

.legend {
    display: flex;
    align-items: center;
    padding: 1.75rem 3.5rem;  
    margin-bottom: 1.25rem;
    background-color: rgba(255, 255, 255, 1.0);
    border: 1px solid #d0d7dc;
    border-radius: 5px;
    font-weight: bold;
    font-size: 2.8em;
    z-index: 1000;
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-size: 7rem;  
    background-position: center left;
    padding-left: 8.75rem;  
    margin-left: -9.375rem; 
}

.white-box {
    background-color: #ffffff;
    width: 50%;
    padding: 1.0rem; 
    border: 1px solid #d0d7dc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.325rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-results {
    font-size: 1.2em;
    color: #000000;
    margin-top: 1.25rem;
}

.error-message {
    color: red;
    font-weight: bold;
    font-size: 1.5em;  /* This increases the font size */
    margin: 1em;
    text-align: center;
}
.ontology-selector {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #d0d7dc;
    background-color: white;
    font-size: 1em;
    cursor: pointer;
}